body { 
	margin: 0; 
	padding: 0; 
}

#map { 
	position:absolute; 
	margin: 69px;
	top: 0; 
	bottom: 0; 
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	width: 50%; 
}

.popupPhoto {
	position: relative;
	height: 280px;
	width: 280px;
	top: -10px;
}

.profilePicture {
	height: 30px;
	width: 30px;
	float: left;
}

.popupText {
	position: relative;
	color: #333;
	font-family: Helvetica Neue, Helvetica, arial;
	font-size: 12px;
	padding: 0px 0px 0px 7px;
	font-weight: bold;
	top: -8px;
}

.caption {
	display: inline;
	position: relative;
	color: #aaa;
	font-size: 12px;
	top: -17px;
}

.user {
	color: #3554B0;
}

.location {
	color: #408BDB;
	top: -14px;
}

.comment {
	position: relative;
	background-color: #ccc;
	border-radius: 3px;
	color: #777;
	padding: 0px 4px;
	float: right;
	font-size: 12px;
	top: -19px;
}

.comment:hover {
	background-color: #aaa;
}